name: Release to GitHub and NPM
on:
  workflow_dispatch:
  push:
    branches:
      - 'main'
      - 'next'
      - 'next-major'
  pull_request:
    types: [opened, synchronize]
    branches:
      - 'next'

env:
  HUSKY: 0

jobs:
  release:
    name: Release
    permissions:
      contents: read
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          repo-token: ${{ secrets.SEMANTIC_RELEASE_BOT_PAT }}
          persist-credentials: false

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 'lts/*'

      - name: Set up NPM token
        env:
          NPM_TOKEN: ${{ secrets.SEMANTIC_RELEASE_NPM_TOKEN  }} # <-- allow npm publish for each workspace
        run: 'echo "//registry.npmjs.org/:_authToken=${NPM_TOKEN}" > .npmrc'

      - name: Install npm dependencies
        run: |
          npm install

      # Set NPM_DIST_TAGS and DOCS_TAG if applicable based on branch
      - name: Set main tags
        if: github.ref_name == 'main' && github.event_name != 'pull_request'
        run: |
          echo "NPM_DIST_TAG=latest" >> $GITHUB_ENV
          echo "DOCS_TAG=latest" >> $GITHUB_ENV

      - name: Set next tags
        if: github.ref_name == 'next' && github.event_name != 'pull_request'
        run: |
          echo "NPM_DIST_TAG=next" >> $GITHUB_ENV
          echo "DOCS_TAG=next" >> $GITHUB_ENV

      - name: Set next-major tags
        if: github.ref_name == 'next-major' && github.event_name != 'pull_request'
        run: |
          echo "NPM_DIST_TAG=next-major" >> $GITHUB_ENV
          echo "DOCS_TAGE=next-major" >> $GITHUB_ENV

      - name: Set feature branch tags
        if: github.ref_name != 'main' && github.ref_name != 'next' && github.ref_name != 'next-major' && github.event_name != 'pull_request'
        run: |
          echo "NPM_DIST_TAG=test" >> $GITHUB_ENV
          echo "FEATURE_BRANCH=${{ github.ref_name }}" >> $GITHUB_ENV

      - name: Set PR tags
        if: github.ref_name != 'main' && github.ref_name != 'next' && github.ref_name != 'next-major' && github.event_name == 'pull_request'
        run: |
          echo "NPM_DIST_TAG=test" >> $GITHUB_ENV
          echo "DOCS_TAG=pr-$(node ./src/js/version.mjs branch-to-prerelease ${{ github.head_ref }})" >> $GITHUB_ENV
          echo "FEATURE_BRANCH=${{ github.head_ref }}" >> $GITHUB_ENV
    
      - name: File Existence Output
        run: |
          echo "File exists: ${{ steps.check_build.outputs.result }}"

      - name: Get version from package.json
        run: |
          RELEASE_VERSION=$(jq -r ".version" ./package.json)
          echo "RELEASE_VERSION=$RELEASE_VERSION" >> $GITHUB_ENV
          echo "RELEASE_VERSION=$RELEASE_VERSION"

      - name: Publish Firebolt SDKs to NPM
        env:
          NPM_TOKEN: ${{ secrets.SEMANTIC_RELEASE_NPM_TOKEN  }} # <-- Allows semantic-release to publish to npm without 2 factor auth.
        run: npm publish --tag $NPM_DIST_TAG --workspaces
